<%= form_for @item do |f| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: "None" }, { class: "form-control" } %>
  </p>

  <p>
    <%= f.label :brand_id %><br>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, { include_blank: "Select brand" }, { class: "form-control" } %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: "form-control" %>
  </p>

  <p>
    <%= f.label :time_of_procurement %><br>
    <%= f.number_field :time_of_procurement, class: "form-control" %>
  </p>

  <p>
    <%= f.label :buffer_quantity %><br>
    <%= f.number_field :buffer_quantity, class: "form-control" %>
  </p>

  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>

<% end %>
