<% content_for :title, "Listing #{@allotment_histories.first.allotment.item.name}'s Allotment History" %>

<h1><%= yield(:title) %></h1>

<%= render 'shared/flash' %>

<table class="table table-rsponsive table-striped" id="list-table">
  <tr>
    <th>Person</th>
    <th>Action</th>
    <th>Time</th>
  </tr>

  <% if @allotment_histories.present? %>
    <% @allotment_histories.each do |history| %>
      <tr>
        <td><%= history.allotment.person.name %></td>
        <td><%= history.action %></td>
        <td><%= history.created_at %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">No allotment's history found!</td>
    </tr>
  <% end %>
</table>
<%= render 'shared/prev_n_home_links' %>
