<% content_for :title, "Listing Items" %>

<h1><%= yield(:title) %></h1>

<%= link_to 'New item', new_item_path, class: "btn btn-success" %>

<%= render 'shared/flash' %>

<table class="table table-rsponsive table-striped" id="list-table">
  <tr>
    <th>Name</th>
    <th colspan="4"></th>
  </tr>

  <% if @items.present? %>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= link_to 'View', item_path(item) %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Allotments', allotment_item_path(item) %></td>
        <td><%= link_to 'History', history_item_path(item) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5">No item found!</td>
    </tr>
  <% end %>
</table>
<%= render 'shared/prev_n_home_links' %>
