<% content_for :title, "Item Details" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= yield(:title) %></h1>

    <%= render 'shared/flash' %>

    <p>
      <strong>Name:</strong>
      <%= @item.name %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @item.category.name unless @item.category.nil? %>
    </p>

    <p>
      <strong>Brand:</strong>
      <%= @item.brand.name %>
    </p>

    <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-primary" if is_admin %>
    <%= link_to 'Back', items_path, class: "btn btn-default" %>
  </div>
</div>
