<% content_for :title, "Listing Brands" %>

<h1><%= yield(:title) %></h1>

<%= link_to 'New brand', new_brand_path, class: "btn btn-success" %>

<%= render 'shared/flash' %>

<table class="table table-rsponsive table-striped" id="list-table">
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>

  <% if @brands.present? %>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= link_to 'View', brand_path(brand) %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand_path(brand),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4">No brand found!</td>
    </tr>
  <% end %>
</table>
