<% content_for :title, "Category Details" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= yield(:title) %></h1>

    <%= render 'shared/flash' %>

    <p>
      <strong>Name:</strong>
      <%= @category.name %>
    </p>

    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary" if is_admin %>
    <%= link_to 'Back', categories_path, class: "btn btn-default" %>
  </div>
</div>
