<% content_for :title, "Allotment Details" %>

<h1><%= yield(:title) %></h1>

<%= render 'shared/flash' %>

<p>
  <strong>Item:</strong>
  <%= @allotment.item.name %>
</p>

<p>
  <strong>Person:</strong>
  <%= @allotment.person.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @allotment.status %>
</p>

<%= link_to 'Back', allotments_path, class: "btn btn-default" %>
<%= link_to 'Reallocate', allotment_path(@allotment),
        class: "btn btn-primary",
        method: :put if @allotment.status == 'Deallocated' %>
<%= link_to 'Deallocate', allotment_path(@allotment),
        class: "btn btn-danger",
        method: :delete,
        data: { confirm: 'Are you sure?' } if @allotment.status == 'Allocated' %>
